@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model AuctionHouse.Models.View.TokensOverview; 

@{
    ViewData["Title"] = "Tokens";
    int num = 0;
    
}


<div class="container">
<div class="row justify-content-center">
        <div class="col-xl-4">
            <button id="tokens" disabled> 
                <img src="~/images/token.png" width="75"/>
                <div id="token">@Model.tokens</div>
            </button>
        </div>
       
    
</div>

<h1>Token bags</h1>
<div class="row  mt-2">
    
    <div class="col-xl-4 mt-1">
    <button id="platinum" disabled>
        <p>
            <label>
                <span>Platinum</span>
                <input id="Platinum" name="bag" type="radio" value="19.5" checked />
                <span><br>20 Tokens - 19.5$</span>
            </label>
        </p>
    </button>
    </div>
    <div class="col-xl-4 mt-1">
        <button id="gold" disabled>
            <p>
               <label>
                   <span>Gold</span>
                   <input id="Gold" name="bag" type="radio" value="12.5"/>
                   <span><br>10 Tokens - 12.5$</span>
                </label>
            </p>
        </button>        
    </div>
    <div class="col-xl-4 mt-1">
        <button id="silver" disabled>
            <p>
                <label>
                    <span>Silver</span>
                    <input id="Silver" name="bag" type="radio" value="7.5"/>
                    <span><br>5 Tokens - 7.5$</span>
                </label>
            </p>
        </button>
    </div>
    
</div>

<div class="row justify-content-center mt-4">
    <div class="col-xl-4">
        <script src="https://www.paypal.com/sdk/js?client-id=AWSsmFC2BrHWNvY3bypHyK44DTqD9ZiSrjCrqka-c_ER0qtJP-im8sZm9K7aOqxvmqGUIPQ_tSui3rIS"></script>
        <div id="paypal" style="width:225px"></div>
    </div>

</div>

</div>

<h1>Transactions</h1>
<div class="row">
    <table class="table table-responsive-xl">
    <thead>
        <tr>
         <th scope="col"style="font-size: 15px;">#</th>
         <th scope="col"style="font-size: 15px;">Date</th>
         <th scope="col"style="font-size: 15px;">Bag name</th>
         <th scope="col"style="font-size: 15px;">Amount</th>
         <th scope="col"style="font-size: 15px;">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.transactions)
        {
            
            num++;
            <tr>
                <th scope="row">@num</th>

                <td>@item.purchaseDate</td>

                <td class="@item.bag.bagName">
                    @item.bag.bagName
                </td>

                <td style="font-weight: bold;">@item.bag.amount</td>

                <td style="font-weight: bold;">@item.bag.price$</td>
            </tr>

           
        }
    </tbody>
    </table>

</div>


    <div class="row justify-content-center mt-2">
        <div class="col-xl"><p style="font-weight:bold; font-size: 20px;">Total money spent: @Model.moneyspent$</p></div>

    </div>

<div class="row justify-content-center">
@Html.PagedListPager(Model.transactions, page => Url.Action("Tokens", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptionsBase
    {
        DisplayPageCountAndCurrentLocation = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })

    @section Scripts{
    <script>
        // Workaround to fix style of text for showing items .. through ..
        // Problem related to Boostrap 4 according to issue in link below
        // https://github.com/dncuug/X.PagedList/issues/127
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}
</div>
