@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model AuctionHouse.Models.View.AuctionPreviewModel; 
@{
    String imageData;
    int i = 0;
}

    <div class="album py-5 bg-light" style="border: 3px solid; border-color: #8c8c8c; border-radius: 10px;">
        <div class="container">
            <div class="row">
                @foreach (var item in @Model.auctions)
                {
                    imageData = Convert.ToBase64String(item.image);

                    
                
                <div class="col-xl-3">
                <div class="card mb-4 box-shadow">
                       @{
                            i = i + 1;
                        }
                        <input type="hidden" id="@Html.Raw("auctionId"+@i)" value="@item.Id"/>
                        <a class="navbar-brand" asp-area="Auction detail" asp-controller="Auction" asp-action="AuctionDetail" asp-route-id="@item.Id">
                            <img class="card-img-top" src="data:image/png;base64,@imageData"  alt="Card image cap" style="height: 225px; width: 100%; display: block;">
                        </a>
                        <div class="card-body" style="height: 75px; text-align: center;">
                            <div class="card-title" style="font-weight: bold;">@item.name</div>
                        </div>
                        <div class="list-group list-group-flush">
                            <div id="@Html.Raw("state"+@item.Id)">
                                @if(item.state.Equals("Open"))
                                {
                                   
                                    <input class="@Html.Raw("closeTime"+@item.Id)" type="hidden" id="@Html.Raw("closeTime"+@i)" value="@item.closeDate.ToString("yyyy,MM,d,H,m,s")"/>
                                    <div class="list-group-item" style="text-align: center;"><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="@Html.Raw("time"+@item.Id)" id="@Html.Raw("time"+@i)">--:--:--:--</span></div>

                                }
                                else
                                {
                                    <div class="list-group-item" style="text-align: center;"><span class="@Html.Raw("state"+@item.Id)">@item.state</span></div>
                                }
                            </div>
                            
                            <div class="list-group-item" style="text-align: center;"><span class="@Html.Raw("currentPrice"+@item.Id)">@item.currentPrice</span></div>
                       
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div id="@Html.Raw("bidButton"+@item.Id)">
                                        @if(item.state.Equals("Open") && item.owner.Id != Model.userId){
                                            <button type="button" class="btn btn-md btn-outline-success" onclick="bid('@item.Id','10')">Bid (+10)</button>
                                        }
                                        else{
                                            <button type="button" class="btn btn-md btn-outline-secondary" disabled>&nbsp;Bid&nbsp;</button>
                                        }
                                    </div>
                                </div>
                                <div class="text-muted">
                                    <span class="@Html.Raw("bidder"+@item.Id)">
                                        @if (@item.winner!=null){
                                            @Html.Raw(@item.winner.UserName);
                                        }
                                        else{
                                            @Html.Raw("No bidders yet");
                                        }
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                }



            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.currentPage > 1)
                {
                    int previousPage = @Model.currentPage-1;
                    <li class="page-item">
                        <button class="page-link" aria-label="Previous" onclick="jumpToPage('@previousPage')">
                            <span aria-hidden="true"> @Html.Raw("<") </span>
                            <span class="sr-only">Previous</span>
                        </button>
                    </li>   
                }


                <li class="page-item disabled"><button class="page-link">Page @Model.currentPage of @Model.numOfPages.</button></li>

                @for(i = 1; i<=Model.numOfPages;i++)
                {
                    if(i==Model.currentPage)
                    {
                        <li class="page-item active">
                            <button class="page-link">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" onclick="jumpToPage('@i')">@i</button>
                        </li>

                    }

                }

                @if(Model.currentPage < Model.numOfPages)
                {
                    int nextPage = @Model.currentPage+1;
                    <li class="page-item">
                        <button class="page-link" aria-label="Next" onclick="jumpToPage('@nextPage')">
                            <span aria-hidden="true"> @Html.Raw(">") </span>
                            <span class="sr-only">Next</span>
                        </button>
                    </li>
                }

            </ul>
        </nav>
    </div>

